# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional (if you store videos/screenshots)
assets/*.mp4
assets/*.mov
